@{
    ViewBag.Title = "Internacionales";
}

<article class="middle">
    <h2>Transferencia Internacional</h2>
    <p>Realice sus transacciones internacionales de manera segura y confiable.</p>

    <div class="credenciales">
        <div class="bloque">
            <label class="etiqueta">Tarjeta #:</label>
            <label class="control">@ViewBag.sNumeroTarjeta</label>
        </div>
        <div class="clear"></div>
        <div class="bloque">
            <label class="etiqueta">Saldo:</label>
            <label class="control">@ViewBag.sSaldo</label>
        </div>
        <div class="clear"></div>
        <div class="bloque">
            @Html.Label("Cantidad a transferir:", new { @class = "etiqueta" })
            @Html.Editor("cantidad", new { @class = "control" })
        </div>
        <div class="bloque">
            <button type="submit" class="submit">Transferir</button>
        </div>
        <div class="clear"></div>
    </div>

    @using (Html.BeginForm())
    {
        <div class="bloque">
            <label class="error">@ViewBag.Error</label>
        </div>
    }
</article>
