
@{
    ViewBag.Title = "Crear un nuevo concierto";
}
<link href="~/Content/css/Global.css" rel="stylesheet" type="text/css" />
<link href="~/Content/img/ticket.png" rel="shortcut icon" type="image/x-icon" />
<link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
<div class="all-content">
    <div class="menu">
        <div class="menu__title">
            <h1>TurnoverTickets</h1>
            <img src="~/Content/img/ticket.png" alt="Logo de un ticket" />
        </div>
        <div class="menu__links">
            <nav>
                <ul>
                    <li>
                        <img src="~/Content/img/layout-dashboard.png" alt="Icono" />
                        @Html.ActionLink("Dashboard", "DashboardEmpleado", "DashboardEmpleado", null, new { @class = "links", @id = "EmpleadoLink" })
                    </li>
                    <li>
                        <img src="~/Content/img/calendar-event.png" alt="Icono" />
                        @Html.ActionLink("Crear un concierto", "CrearConcierto", "CrearConcierto", null, new { @class = "links", @id = "EmpleadoLink" })
                    </li>
                    <li>
                        <img src="~/Content/img/list-check.png" alt="Icono" />
                        @Html.ActionLink("Lista de conciertos", "ListaConciertos", "ListaConciertos", null, new { @class = "links", @id = "EmpleadoLink" })
                    </li>
                </ul>
                <div class="menu__logout">
                    <img src="~/Content/img/logout.png" alt="Icono" />
                    @Html.ActionLink("Cerrar sesión", "Login", "Login", null, new { @class = "links" })
                </div>
            </nav>
        </div>
    </div>

    <div class="main-content">
        <h1>Hola mundo</h1>
    </div>
    <footer class="body-footer">
        <p>&copy; @DateTime.Now.Year - TurnoverTickets | Universidad Don Bosco</p>
    </footer>
</div>