@model IEnumerable<SitioWeb10_GM240279.Models.Categories>

@{
    ViewBag.Title = "Categorias de Productos";
}

<h2>Informacion de Categorias de Productos registrados</h2>

<p>
    @Html.ActionLink("Crear Categoria", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Modificar", "Edit", new { id = item.CategoryID }) |
                @Html.ActionLink("Ver detalles", "Details", new { id = item.CategoryID }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.CategoryID })
            </td>
        </tr>
    }

</table>
