<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TurnoverTicket</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/Global.css" rel="stylesheet" type="text/css"/>
    <link href="~/Content/img/ticket.png" rel="shortcut icon" type="image/x-icon" />
</head>
<body>
    <div class="menu">
        <div class="menu__title">
            <h1>TurnoverTickets</h1>
            <img src="~/Content/img/ticket.png" alt="Logo de un ticket" />
        </div>
        <div class="menu__links">
            <nav>
                <ul>
                    <li>
                        @Html.ActionLink("Dashboard", "DashboardEmpleado", "DashboardEmpleado", null, new { @class = "links", @id = "EmpleadoLink" })
                    </li>
                    <li>
                        @Html.ActionLink("Crear un concierto", "CrearConcierto", "CrearConcierto", null, new { @class = "links", @id = "EmpleadoLink" })
                    </li>
                    <li>
                        @Html.ActionLink("Lista de conciertos", "ListaConcierto", "ListaConcierto", null, new { @class = "links", @id = "EmpleadoLink" })
                    </li>
                </ul>
                <div class="menu__logout">
                    @Html.ActionLink("Cerrar sesión", "Login", "Login", null, new { @class = "links"})
                </div>
            </nav>
           

        </div>
    </div>

    <div>
        @RenderBody()
        <footer class="body-footer">
            <p>&copy; @DateTime.Now.Year - TurnoverTickets | El Salvador </p>
        </footer>
    </div>

    <script src="~/Content/js/bootstrap.min.js"></script>
</body>
</html>